.item {
  margin-bottom: 1em;
}

.link {
  background: rgba(0,0,0,0.05);
  color: inherit;
  border-radius: 3px;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  background: rgba(0,0,0,0.1);
  text-decoration: underline;
}
