/* ==========================================================================
   #SIZE PICKER
   ========================================================================== */

@import '../global-import';

.root {
  display: inline-block;
}

.size {
  border: 1px solid;
  color: $palette-border;
  cursor: default;
  display: inline-block;
  height: rem($global-input-height);
  line-height: rem($global-input-height);
  text-align: center;
  text-transform: uppercase;
  width: rem($global-input-height);

  + * {
    margin-left: rem($global-spacing-unit-xsm);
  }
}

.available {
  cursor: pointer;
  color: #000;

  &:hover {
    outline: 1px solid;
  }
}

.selected {
  outline: 1px solid;
}
