/* ==========================================================================
   #TOP BAR
   ========================================================================== */

@import '../global-import';

.root {
  margin-bottom: rem($global-spacing-unit-xlg);
  padding-top: rem($global-spacing-unit);
  position: relative;
}

.utils {
  margin-bottom: rem($global-spacing-unit-sm);
}

.branding {
  text-align: center;
}

.logo {
  color: inherit;
  text-transform: uppercase;
}
