/* ==========================================================================
   #CART
   ========================================================================== */

@import '../global-import';

.item {
  margin-bottom: rem($global-spacing-unit);

  &:last-child {
    margin-botom: 0;
  }
}

.utils {
  border-top: 1px solid $palette-border;
  padding-top: rem($global-spacing-unit-sm);
}
