/* ==========================================================================
   #TOP BAR
   ========================================================================== */

@import '../global-import';

.root {
  margin-bottom: rem($global-spacing-unit-lg);
  padding-top: rem($global-spacing-unit);
  position: relative;
}

.utils {
  margin-bottom: rem($global-spacing-unit-sm);
}

.branding {
  text-align: center;
}

.logo {
  font-family: 'Pacifico', sans-serif;
  font-weight: normal;
}
