/* ==========================================================================
   #BUTTON
   ========================================================================== */

@import '../global-import';

$palette-primary: red !default;

.btn {
  background-color: $palette-primary;
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  padding: .5em 1em;
}
