/* ==========================================================================
   #MINI CART
   ========================================================================== */

@import '../global-import';

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid;
    color: $palette-primary;
  }
}
