/* ==========================================================================
   #PRODUCT
   ========================================================================== */

@import '../global-import';

.title {
  margin-bottom: 0;
}

.images {
  margin-bottom: rem($global-spacing-unit);
  position: relative;
}

.sticker {
  position: absolute;
  z-index: 1;
  top: rem($global-spacing-unit-sm);
  right: rem($global-spacing-unit-sm);
}
