/* ==========================================================================
   #PRODUCT ITEM
   ========================================================================== */

@import '../global-import';

.root {
  position: relative;
  text-align: center;
}

.title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: rem($global-spacing-unit-xsm);
}

.link {
  color: inherit;
  text-decoration: none;
}

.image {
  margin-bottom: rem($global-spacing-unit);
}

.sticker {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: rem($global-spacing-unit-sm);
}
