/* ==========================================================================
   #FORMS
   ========================================================================== */

/**
 * 1. Remove default box-shadow and border radius on webit.
 */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
	font-family: inherit;
	-webkit-appearance: none; /* [1] */
	border-radius: 0; /* [1] */
}

button,
input[type="submit"] {
	font-family: inherit;
}
