/* ==========================================================================
   #COLOR
   ========================================================================== */

/// @group color
$white: #fff;

/// @group color
$black: #000;

/// @group color
$red: #e10000;

/// @group color
$caribbean-green: #00c888;

/// @group color
$champagne: #faebcc;

/// @group color
$twitter: #1da1f2;

/// @group color
$palette-body: inherit;

/// @group color
$palette-primary: $caribbean-green;

/// @group color
$palette-error: $red;

/// @group color
$palette-border: rgba(0,0,0,.1);

/// @group color
$palette-info: $champagne;

/// @group color
$palette-success: $caribbean-green;
