/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

/// Heading 1 type sizes map, to be used with @mixin tra-generate-type-sizes()
/// @group typography
$h1-type-sizes: (
	mobile: (30, 36),
	desktop: (48, 57.6)
) !default;

/// Heading 2 type sizes map, to be used with @mixin tra-generate-type-sizes()
/// @group typography
$h2-type-sizes: (
	mobile: (21, 29.4),
	desktop: (27, 32.4)
) !default;

/// Heading 3 type sizes map, to be used with @mixin tra-generate-type-sizes()
/// @group typography
$h3-type-sizes: (
	mobile: (18, 25.2),
	desktop: (21, 29.4)
) !default;





/// @group typography
$light: 300;

/// @group typography
$normal: normal;

/// @group typography
$bold: 700;





/// Small font size
/// @group typography
$small-font-size: 14px;
