/* ==========================================================================
   #FORMS
   ========================================================================== */

form {
	width: 100%;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

input[type="text"], input[type="email"], input[type="tel"],
input[type="number"], input[type="date"], input[type="url"],
input[type="password"], input[type="search"], textarea {
	padding: 1em;
	border: 1px solid rgba(0,0,0,0.1);
	width: 100%;

	/* Remove rounded corners in ios */
	-webkit-appearance: none;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: middle;
	margin-top: -4px;
}

textarea {
	height: auto;
	padding: 1em;
	resize: vertical;
}

button, input[type="submit"], input[type="reset"] {
	/* Remove rounded corners in ios */
	-webkit-appearance: none;
	border: none;
}
