/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    padding: 2em;
}

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

dd, ol, ul {
  margin-left: 1rem;
}
